# Django ORM 연습


이 파일은 반드시 **db.sqlite3 파일과** 같은 위치에 있어야합니다.

또한 기존의 `jupyter notebook` 명령어가 아닌, **아래의 명령어로 실행합니다.**


```bash
$ python manage.py shell_plus --notebook

```

# 기본 설정

- 시작 전 아래 코드블럭을 실행해주세요 :)

In [1]:
# 아래의 코드는 절대 수정하지 않습니다.

def show_db():
    import os
    import pandas as pd
    import sqlite3

    os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"
    conn = sqlite3.connect("./db.sqlite3")
    columns = ['id', 'title', 'content', 'created_at', 'updated_at']
    articles_article = pd.read_sql_query("select * from articles_article", conn, columns)
    return articles_article

In [2]:
# article 테이블의 내용물을 보고싶을 때 아래와 같이 실행합니다.

show_db()

/Users/lynn/.pyenv/versions/3.7.3/lib/python3.7/site-packages/pandas/compat/__init__.py:120: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

Empty DataFrame
Columns: []
Index: []

# CREATE

- ORM을 이용한 데이터 생성은 3가지 방법이 있습니다.

In [3]:
# 1. 첫번째 방법
article1 = Article()
article1.title = 'first title'
article1.content = 'first content'

In [ ]:
# 제목과 내용을 출력해봅니다.

In [ ]:
# 실제로 데이터베이스에 저장이 됐는지 확인해봅시다.

In [ ]:
# 첫번째 방식은 반드시 save() 함수를 통해 DB에 저장해야합니다.

In [ ]:
# DB 확인

show_db()

In [ ]:
# 2. 두번째 방법

In [ ]:
# DB에 저장이 됐는지 확인해봅니다.

In [ ]:
# save() 함수를 통해 저장해줍시다.

In [ ]:
# DB 확인

show_db()

In [ ]:
# 세번째 방법

In [ ]:
# DB에 실제로 저장됐는지 확인해봅시다.
# create() 메서드를 통한 데이터 생성은 save() 함수를 호출하지 않아도 됩니다.

In [ ]:
# DB 확인

show_db()

# READ

- 데이터베이스에 저장된 값을 불러올 때 사용합니다.
    - ClasName.objects.all()
    - ClassName.objects.filter()
    - ClassName.objects.get()
    - ClassName.objects.order_by()

In [ ]:
# 게시글 전부를 가져와봅시다.

In [ ]:
# QuerySet은 리스트처럼 인덱싱과 슬라이싱이 가능합니다.

In [ ]:
# 주의) QuerySet은 리스트와 비슷하지만 같지 않습니다.
# 음수 인덱싱을 시도해봅시다.

In [ ]:
# filter를 통해 조건에 해당하는 데이터만 가져올 수 있습니다.

In [ ]:
# 위에서 가져온 글과 같은 제목을 가진 데이터를 하나 더 추가합니다

In [ ]:
# filter를 통해 확인해봅시다.

In [ ]:
# QuerySet도 반복문 사용이 가능합니다.
# 반복문을 통해서 하나씩 확인해봅시다.

In [ ]:
# QuerySet에서 가장 첫번째와 마자막 값 가져오기

In [ ]:
# first()

In [ ]:
# last()

In [ ]:
# 조건을 같이 줄 수도 있습니다.

In [ ]:
# get

In [ ]:
# get vs. filter (1)

In [ ]:
# get vs. filter (1)

In [ ]:
# filter는 값이 없어도 에러가 발생하지 않습니다.

In [ ]:
# order_by (ascending)

In [ ]:
# order_by (descending)

In [ ]:
# 아래의 것들을 사용하여 조건을 조금 더 다채롭게 줄 수도 있습니다.
# like, startswith, endswith

# UPDATE

- update 로직은 비교적 간단합니다.
- 1) 기존 데이터베이스에 저장된 값을 불러옵니다.
- 2) 원하는 값을 수정합니다.
- 3) 다시 저장합니다. 끝.

In [ ]:
# pk가 1인 데이터를 가져와서 제목을 '오늘 저녁 뭐먹지?'로 수정해봅시다.

In [ ]:
# DB 확인

show_db()

# DELETE


- delete 로직 또한 간단합니다.
- 1) 기존 데이터베이스에 저장된 값을 불러옵니다.
- 2) 삭제합니다. 끝

In [ ]:
# pk가 2인 값을 불러와서 삭제해봅시다.

In [ ]:
# 실제로 삭제가 됐는지 확인해봅시다.

show_db()